<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customize Order</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <header>
        <div class="flexbox_homepage_header">
            <img width=2% height=2% src="logo.jpeg">
            <b>Sweet Scoop Ice Cream</b>
        </div>
    </header>
    
    <div class="homepage_menu">
        <a href="index.html" class="menu-item">Home</a> |
        <a href="menu_view.html" class="menu-item">Menu</a>
    </div>
    
    <main>
            <div id = "timer" class = "timer"> Order time left: 10:00</div></div>
            <img width=30% height=30% src="Picture2.jpeg">
            <h2>Vanilla Dream</h2>
            <label><b>Choose Type</b></label>
            <br>
            <input type="radio" id="cup" name="type" value="cup">
            <label for="cup">Cup</label>
            <input type="radio" id="cone" name="type" value="cone">
            <label for="cone">Cone</label>
            <br>
            <a style="cursor:pointer;" class="submit-selection-button" onclick="alert_radiobutton()">Submit Selection</a>

            <h2>Chocolate Bliss</h2>
            <label><b>Select Toppings</b></label>
            <br>
            <input type="checkbox" id="sprinkles" name="topping" value="sprinkles">
            <label for="sprinkles">Sprinkles</label>
            <input type="checkbox" id="nuts" name="topping" value="nuts">
            <label for="nuts">Nuts</label>
            <input type="checkbox" id="caramel" name="topping" value="caramel">
            <label for="caramel">Caramel</label>
            <br>
            <a style="cursor:pointer;" class="submit-selection-button" onclick="alert_checkbox()">Submit Selection</a>
            <br>
            <br>
            <p class = "make_bold", id = "total_price">Total price: $6.00</p>
            <a href="order_summary.html" class="finish-order-button">Finish Order</a>


    </main>

    <footer class="footer_customize">
        <p> &copy; 2026 Sweet Scoop Corp. All rights reserved. Created by Khan and Ryabinkin.</p>
    </footer>
<script src = "customize_order.js"></script>
</body>
</html>
