<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Simon Ryabinkin 30253259 -->
    <!-- Basema Khan  30204130 -->
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header class = "flexbox_homepage_header">   
        <img src = "./logo.jpeg" alt = "logo" width = 2% height = 2%> <b>Sweet Scoop Ice Cream</b>
    </header>
    <div class = "homepage_menu">
        <a href="./index.html">Home</a> |
        <br>
        <a href="./login.html">Login</a> |
        <br>
        <a href="./menu_view.html">Menu</a> |
        <br>
        <a href="./customize_order.html">Customize order</a> |
        <br>
        <a href="./order_summary.html">Order summary</a>
    </div>

    <br>
    
    <main class = "homepage_main">
        <section>
            <h3> About Us </h3>
        <p>Sweet Scoop Ice Cream is a local ice cream shop filled with everything an ice-cream lover could dream of! </p>
        <p class="center_home">Use our website to browse the menu, create an order and explore specials.</p>
        </section>
        <section>
            <h3> Featured Flavours </h3>
            <ul>
                <li>Vanilla Dream</li>
                <li>Chocolate Bliss</li>
                <li>Strawberry Swirl</li>
            </ul>
            <p>As well as a wide variety of other flavours!</p>
        </section>
    </main>

    <footer class="footer_homepage">
        <p> &copy; 2026 Sweet Scoop Corp. All rights reserved. Created by Khan and Ryabinkin.</p>
    </footer>
</body>
</html>
