<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sweet Scoop Ice Cream Shop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="flexbox_homepage_header">
            <img width=2% height=2% src="logo.jpeg">
            <b>Sweet Scoop Ice Cream</b>
        </div>
    </header>
    <div class="homepage_menu">
        <a href="index.html" class="menu-item">Home</a>
    </div>

    <br>

    <main>
        <form id="loginForm">
            <div class ="login">
                <h3>Welcome to the Sweet Scoop Ice Cream Store!</h3>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <label>
                    <input type="checkbox" id="forget" name="forget">
                    Forgot Password
                </label>
                <br>
                <button type="submit" class="login-button">Login</button>
                <br>
                <label>
                    New User? 
                    <a class="login-button" href="signup.html">Create an account</a>
                </label>
            </div>
        </form>
        <br>
        <div id="messageBox" class="message-box"></div>
    </main>

    <footer  class="footer_login">
        <p> &copy; 2026 Sweet Scoop Corp. All rights reserved. Created by Khan and Ryabinkin.</p>
    </footer>
    
    <script src="login.js"></script>
</body>
</html>
