<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="flexbox_homepage_header">
            <img width=2% height=2% src="logo.jpeg">
            <b>Sweet Scoop Ice Cream</b>
        </div>
    </header>
    <div class="homepage_menu">
        <a href="index.html" class="menu-item">Home</a> |
        <a href="menu_view.html" class="menu-item">Menu</a>
    </div>
    <div class="table-form-layout">
        <main>
            <h2>Order Summary</h2>
            <table>
                <tr>
                    <th>Item</th>
                    <th>Details</th>
                </tr>
                <tr>
                    <td>Ice Cream</td>
                    <td>Vanilla Dream</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Cone</td>
                </tr>
                <tr>
                    <td>Toppings</td>
                    <td>Sprinkles, Nuts</td>
                </tr>
                <tr>
                    <td>Total Price</td>
                    <td>$6.50</td>
                </tr>
            </table>
            <br>
            <br>
            <a href="customize_order.html" class="edit-order-button">Edit Order</a>
            <br>
            <button class="confirm-order-button">Confirm Order</button>
        </main>
    </div>

    <footer class ="footer_summary">
        <p> &copy; 2026 Sweet Scoop Corp. All rights reserved. Created by Khan and Ryabinkin.</p>
    </footer>
</body>
</html>
