<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Sweet Scoop Ice Cream Shop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class = "flexbox_homepage_header">   
        <img src = "./logo.jpeg" alt = "logo" width = 2% height = 2%> <b>Sweet Scoop Ice Cream</b>
    </header>
    <div class = "homepage_menu">
        <a href="login.html">Login</a>
    </div>

    <main>
        <form id="signupForm">
            <div class ="signup">
                <h3>Signup</h3>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword">
                <br>
                <button type="submit" class="signup-button">Signup</button>
                <br>
            </div>
        </form>
        <div id="messageBox" class="message-box"></div>
    </main>

    <footer class="footer_signup">
        <p> &copy; 2026 Sweet Scoop Corp. All rights reserved. Created by Khan and Ryabinkin.</p>
    </footer>
    
    <script src="signup.js"></script>
</body>
</html>